SentimentAnalysis/src/main/webapp/WEB-INF/wsdl/at/tuwien/aic2012/at.tuwien.aic2012.sentiment.service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://at.tuwien.aic2012.sentiment.service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://at.tuwien.aic2012.sentiment.service/" xmlns:xsddt="http://at.tuwien.aic2012.sentiment.datatypes/">

  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://at.tuwien.aic2012.sentiment.datatypes/"
    		schemaLocation="at.tuwien.aic2012.sentiment.datatypes.xsd">
    	</xsd:import>
    </xsd:schema>
  </wsdl:types>

	<wsdl:message name="InitRequest">
  </wsdl:message>
  <wsdl:message name="InitResponse">
  </wsdl:message>
  <wsdl:message name="InitFault">
		<wsdl:part name="InitFaultP" type="xsd:string"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="ComputeRequest">
		<wsdl:part name="ComputeRequestP" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ComputeResponse">
		<wsdl:part name="ComputeResponseP" type="xsd:double"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="ComputeAverageRequest">
		<wsdl:part name="ComputeAverageRequestP" type="xsddt:ArrayOfStrings"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ComputeAverageResponse">
		<wsdl:part name="ComputeAverageResponseP" type="xsd:double"></wsdl:part>
  </wsdl:message>

  
  <wsdl:portType name="Sentiment">
    <wsdl:operation name="Init">
      <wsdl:input message="tns:InitRequest"/>
      <wsdl:output message="tns:InitResponse"/>
      <wsdl:fault name="fault" message="tns:InitFault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Compute">
      <wsdl:input message="tns:ComputeRequest"/>
      <wsdl:output message="tns:ComputeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="ComputeAverage">
      <wsdl:input message="tns:ComputeAverageRequest"/>
      <wsdl:output message="tns:ComputeAverageResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="at.tuwien.aic2012.sentiment.ServiceSOAP" type="tns:Sentiment">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Init">
      <soap:operation soapAction="http://at.tuwien.aic2012.sentiment.service/Init"/>
      <wsdl:input>
        <soap:body namespace="http://at.tuwien.aic2012.sentiment.service/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://at.tuwien.aic2012.sentiment.service/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="Compute">
      <soap:operation soapAction="http://at.tuwien.aic2012.sentiment.service/Compute"/>
      <wsdl:input>
        <soap:body namespace="http://at.tuwien.aic2012.sentiment.service/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://at.tuwien.aic2012.sentiment.service/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="ComputeAverage">
      <soap:operation soapAction="http://at.tuwien.aic2012.sentiment.service/ComputeAverage"/>
      <wsdl:input>
        <soap:body namespace="http://at.tuwien.aic2012.sentiment.service/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://at.tuwien.aic2012.sentiment.service/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="Sentiment">
    <wsdl:port binding="tns:at.tuwien.aic2012.sentiment.ServiceSOAP" name="at.tuwien.aic2012.sentiment.ServiceSOAP">
      <soap:address location="http://localhost:8080/SentimentAnalysis/Sentiment/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
