TomcatServices/BaseServices/WebContent/wsdl/twitter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TwitterService" targetNamespace="http://aic.service.twitter/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://aic.service.twitter/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://jaxb.dev.java.net/array" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType final="#all" name="stringArray">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
    <xs:schema targetNamespace="http://aic.service.twitter/" version="1.0" xmlns:tns="http://aic.service.twitter/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType final="extension restriction" name="tweet">
    <xs:sequence>
      <xs:element minOccurs="0" name="created" type="xs:dateTime"/>
      <xs:element name="ID" type="xs:long"/>
      <xs:element name="reTweets" type="xs:long"/>
      <xs:element minOccurs="0" name="text" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType final="#all" name="tweetArray">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:tweet"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="DetachListener">
    <wsdl:part name="filter" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DetachListenerResponse">
    <wsdl:part name="listenerDetached" type="xsd:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AttachListenerResponse">
    <wsdl:part name="listenerAttached" type="xsd:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExtractText">
    <wsdl:part name="tweets" type="tns:tweetArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExtractTextResponse">
    <wsdl:part name="texts" type="ns1:stringArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AttachListener">
    <wsdl:part name="filter" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FetchTweets">
    <wsdl:part name="searchString" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="from" type="xsd:dateTime">
    </wsdl:part>
    <wsdl:part name="to" type="xsd:dateTime">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FetchTweetsResponse">
    <wsdl:part name="tweets" type="tns:tweetArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ITwitter">
    <wsdl:operation name="FetchTweets">
      <wsdl:input name="FetchTweets" message="tns:FetchTweets">
    </wsdl:input>
      <wsdl:output name="FetchTweetsResponse" message="tns:FetchTweetsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtractText">
      <wsdl:input name="ExtractText" message="tns:ExtractText">
    </wsdl:input>
      <wsdl:output name="ExtractTextResponse" message="tns:ExtractTextResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetachListener">
      <wsdl:input name="DetachListener" message="tns:DetachListener">
    </wsdl:input>
      <wsdl:output name="DetachListenerResponse" message="tns:DetachListenerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachListener">
      <wsdl:input name="AttachListener" message="tns:AttachListener">
    </wsdl:input>
      <wsdl:output name="AttachListenerResponse" message="tns:AttachListenerResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TwitterServiceSoapBinding" type="tns:ITwitter">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FetchTweets">
      <soap:operation soapAction="urn:FetchTweets" style="rpc"/>
      <wsdl:input name="FetchTweets">
        <soap:body use="literal" namespace="http://aic.service.twitter/"/>
      </wsdl:input>
      <wsdl:output name="FetchTweetsResponse">
        <soap:body use="literal" namespace="http://aic.service.twitter/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetachListener">
      <soap:operation soapAction="urn:DetachListener" style="rpc"/>
      <wsdl:input name="DetachListener">
        <soap:body use="literal" namespace="http://aic.service.twitter/"/>
      </wsdl:input>
      <wsdl:output name="DetachListenerResponse">
        <soap:body use="literal" namespace="http://aic.service.twitter/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtractText">
      <soap:operation soapAction="urn:ExtractText" style="rpc"/>
      <wsdl:input name="ExtractText">
        <soap:body use="literal" namespace="http://aic.service.twitter/"/>
      </wsdl:input>
      <wsdl:output name="ExtractTextResponse">
        <soap:body use="literal" namespace="http://aic.service.twitter/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachListener">
      <soap:operation soapAction="urn:AttachListener" style="rpc"/>
      <wsdl:input name="AttachListener">
        <soap:body use="literal" namespace="http://aic.service.twitter/"/>
      </wsdl:input>
      <wsdl:output name="AttachListenerResponse">
        <soap:body use="literal" namespace="http://aic.service.twitter/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TwitterService">
    <wsdl:port name="Twitter" binding="tns:TwitterServiceSoapBinding">
      <soap:address location="http://localhost:8080/BaseServices/services/Twitter"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
