TomcatServices/BaseServices/WebContent/wsdl/twitter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TwitterService" targetNamespace="http://aic.service.twitter/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://aic.service.twitter/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://aic.service.twitter/" version="1.0" xmlns:tns="http://aic.service.twitter/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="AttachListener" type="tns:AttachListener"/>
<xs:element name="AttachListenerResponse" type="tns:AttachListenerResponse"/>
<xs:element name="DetachListener" type="tns:DetachListener"/>
<xs:element name="DetachListenerResponse" type="tns:DetachListenerResponse"/>
<xs:element name="ExtractText" type="tns:ExtractText"/>
<xs:element name="ExtractTextResponse" type="tns:ExtractTextResponse"/>
<xs:element name="FetchTweets" type="tns:FetchTweets"/>
<xs:element name="FetchTweetsResponse" type="tns:FetchTweetsResponse"/>
<xs:complexType name="FetchTweets">
    <xs:sequence>
      <xs:element minOccurs="0" name="searchString" type="xs:string"/>
      <xs:element minOccurs="0" name="from" type="xs:anySimpleType"/>
      <xs:element minOccurs="0" name="to" type="xs:anySimpleType"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="FetchTweetsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="tweets" type="tns:tweet"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType final="extension restriction" name="tweet">
    <xs:sequence>
      <xs:element name="ID" type="xs:long"/>
      <xs:element name="reTweets" type="xs:long"/>
      <xs:element minOccurs="0" name="text" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="ExtractText">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="tweets" type="tns:tweet"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="ExtractTextResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="texts" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="DetachListener">
    <xs:sequence>
      <xs:element minOccurs="0" name="filter" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="DetachListenerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="listenerDetached" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="AttachListener">
    <xs:sequence>
      <xs:element minOccurs="0" name="filter" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="AttachListenerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="listenerAttached" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="DetachListener">
    <wsdl:part name="parameters" element="tns:DetachListener">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DetachListenerResponse">
    <wsdl:part name="parameters" element="tns:DetachListenerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AttachListenerResponse">
    <wsdl:part name="parameters" element="tns:AttachListenerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExtractText">
    <wsdl:part name="parameters" element="tns:ExtractText">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExtractTextResponse">
    <wsdl:part name="parameters" element="tns:ExtractTextResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AttachListener">
    <wsdl:part name="parameters" element="tns:AttachListener">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FetchTweets">
    <wsdl:part name="parameters" element="tns:FetchTweets">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FetchTweetsResponse">
    <wsdl:part name="parameters" element="tns:FetchTweetsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ITwitter">
    <wsdl:operation name="FetchTweets">
      <wsdl:input name="FetchTweets" message="tns:FetchTweets">
    </wsdl:input>
      <wsdl:output name="FetchTweetsResponse" message="tns:FetchTweetsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtractText">
      <wsdl:input name="ExtractText" message="tns:ExtractText">
    </wsdl:input>
      <wsdl:output name="ExtractTextResponse" message="tns:ExtractTextResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetachListener">
      <wsdl:input name="DetachListener" message="tns:DetachListener">
    </wsdl:input>
      <wsdl:output name="DetachListenerResponse" message="tns:DetachListenerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachListener">
      <wsdl:input name="AttachListener" message="tns:AttachListener">
    </wsdl:input>
      <wsdl:output name="AttachListenerResponse" message="tns:AttachListenerResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TwitterServiceSoapBinding" type="tns:ITwitter">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FetchTweets">
      <soap:operation soapAction="urn:FetchTweets" style="document"/>
      <wsdl:input name="FetchTweets">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="FetchTweetsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetachListener">
      <soap:operation soapAction="urn:DetachListener" style="document"/>
      <wsdl:input name="DetachListener">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DetachListenerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtractText">
      <soap:operation soapAction="urn:ExtractText" style="document"/>
      <wsdl:input name="ExtractText">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ExtractTextResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachListener">
      <soap:operation soapAction="urn:AttachListener" style="document"/>
      <wsdl:input name="AttachListener">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AttachListenerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TwitterService">
    <wsdl:port name="Twitter" binding="tns:TwitterServiceSoapBinding">
      <soap:address location="http://localhost:8080/BaseServices/services/Twitter"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
