TomcatServices/BaseServices/WebContent/wsdl/user.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UserService" targetNamespace="http://aic.service.user/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://aic.service.user/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:message name="Remove">
    <wsdl:part name="companyName" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExistsResponse">
    <wsdl:part name="userExists" type="xsd:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Add">
    <wsdl:part name="companyName" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="password" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveResponse">
    <wsdl:part name="userRemoved" type="xsd:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CheckCredentials">
    <wsdl:part name="companyName" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="password" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddResponse">
    <wsdl:part name="userAdded" type="xsd:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exists">
    <wsdl:part name="companyName" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CheckCredentialsResponse">
    <wsdl:part name="credentialsValid" type="xsd:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IUser">
    <wsdl:operation name="Remove">
      <wsdl:input name="Remove" message="tns:Remove">
    </wsdl:input>
      <wsdl:output name="RemoveResponse" message="tns:RemoveResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <wsdl:input name="Exists" message="tns:Exists">
    </wsdl:input>
      <wsdl:output name="ExistsResponse" message="tns:ExistsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCredentials">
      <wsdl:input name="CheckCredentials" message="tns:CheckCredentials">
    </wsdl:input>
      <wsdl:output name="CheckCredentialsResponse" message="tns:CheckCredentialsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input name="Add" message="tns:Add">
    </wsdl:input>
      <wsdl:output name="AddResponse" message="tns:AddResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServiceSoapBinding" type="tns:IUser">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CheckCredentials">
      <soap:operation soapAction="urn:CheckCredentials" style="rpc"/>
      <wsdl:input name="CheckCredentials">
        <soap:body use="literal" namespace="http://aic.service.user/"/>
      </wsdl:input>
      <wsdl:output name="CheckCredentialsResponse">
        <soap:body use="literal" namespace="http://aic.service.user/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <soap:operation soapAction="urn:Exists" style="rpc"/>
      <wsdl:input name="Exists">
        <soap:body use="literal" namespace="http://aic.service.user/"/>
      </wsdl:input>
      <wsdl:output name="ExistsResponse">
        <soap:body use="literal" namespace="http://aic.service.user/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="urn:Remove" style="rpc"/>
      <wsdl:input name="Remove">
        <soap:body use="literal" namespace="http://aic.service.user/"/>
      </wsdl:input>
      <wsdl:output name="RemoveResponse">
        <soap:body use="literal" namespace="http://aic.service.user/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="urn:Add" style="rpc"/>
      <wsdl:input name="Add">
        <soap:body use="literal" namespace="http://aic.service.user/"/>
      </wsdl:input>
      <wsdl:output name="AddResponse">
        <soap:body use="literal" namespace="http://aic.service.user/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="User" binding="tns:UserServiceSoapBinding">
      <soap:address location="http://localhost:8080/BaseServices/services/User"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
