WorkflowApplication/ServiceActivities/Service References/SentimentReference/SentimentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://aic.service.sentiment/" xmlns:ns1="http://jaxb.dev.java.net/array" name="SentimentService" targetNamespace="http://aic.service.sentiment/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jaxb.dev.java.net/array" version="1.0">
      <xs:complexType name="stringArray" final="#all">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ComputeResponse">
    <wsdl:part name="sentiment" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="ComputeAverageResponse">
    <wsdl:part name="averageSentiment" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="Compute">
    <wsdl:part name="text" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ComputeAverage">
    <wsdl:part name="texts" type="ns1:stringArray" />
  </wsdl:message>
  <wsdl:portType name="ISentiment">
    <wsdl:operation name="ComputeAverage">
      <wsdl:input name="ComputeAverage" message="tns:ComputeAverage" />
      <wsdl:output name="ComputeAverageResponse" message="tns:ComputeAverageResponse" />
    </wsdl:operation>
    <wsdl:operation name="Compute">
      <wsdl:input name="Compute" message="tns:Compute" />
      <wsdl:output name="ComputeResponse" message="tns:ComputeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SentimentServiceSoapBinding" type="tns:ISentiment">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="Compute">
      <soap:operation soapAction="urn:Compute" style="rpc" />
      <wsdl:input name="Compute">
        <soap:body use="literal" namespace="http://aic.service.sentiment/" />
      </wsdl:input>
      <wsdl:output name="ComputeResponse">
        <soap:body use="literal" namespace="http://aic.service.sentiment/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComputeAverage">
      <soap:operation soapAction="urn:ComputeAverage" style="rpc" />
      <wsdl:input name="ComputeAverage">
        <soap:body use="literal" namespace="http://aic.service.sentiment/" />
      </wsdl:input>
      <wsdl:output name="ComputeAverageResponse">
        <soap:body use="literal" namespace="http://aic.service.sentiment/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SentimentService">
    <wsdl:port name="Sentiment" binding="tns:SentimentServiceSoapBinding">
      <soap:address location="http://localhost:8080/BaseServices/services/Sentiment" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>